 :root{
    --cor-fundo : rgb(34, 41, 37);
    --cor-hover : rgb(118, 180, 145);
    --cor-primaria : rgb(231,241, 236);
 }

 .dp-menu ul{
    list-style-type: none;
    padding: 0;
 }

 .dp-menu ul{
    background-color: var(--cor-fundo)
 }
 